// @import 'variable'

nav {
    float: left;
    display: block;
    width: $nav-width;
    background: #fff;
    overflow: auto;
    position: fixed;
    height: 100%;
    padding: 10px;
    border-right: 1px solid #eee;
    // box-shadow: 0 0 3px rgba(0,0,0,0.1);

    #nav-search {
        width: 80%;
        margin: 20px auto 10px 10px;
        height: 30px;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    @include media-phone-width {
        background: #fff;
        width: $nav-width;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: -$nav-width;
        z-index: 3;
        padding: 0 10px;
        transition: left 0.2s;
    }

    @include media-print {
        display: none;
    }
}

nav>li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-heading {
    margin-top: 10px;
    font-weight: bold;

    ul {
        padding: 0px 0px 0px 0.5em;
        margin-bottom: 1em;
        margin-top: 0.5em;
    }

    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    a {
        color: $color-nav-heading-hyperlink;
        font-size: 14px;
        display: inline-block;
    }

    >input[type=checkbox] {
        display: none;

        // fold
        &+label {
            padding-left: 0.5em;

            // color: white;

            &::before {
                width: 0;
                height: 0;
                display: inline-block;
                text-align: center;
                content: '+';
                color: $color-hyperlink;
                transition: all $collapse-speed ease;
            }
        }

        &~ul {
            max-height: 0;
            max-width: 0;
            opacity: 0;
            overflow: hidden;
            white-space: nowrap;
            transition: all $collapse-speed ease;
        }

        &:checked {
            &+label+ul {
                max-height: 100%;
                max-width: 100%;
                opacity: 1;
            }

            // expand
            &+label::before {
                // transform: rotate(90deg);
                content: '—';
            }
        }
    }
}

.nav-item-type {
    /* margin-left: 5px; */
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    border-radius: 0.2em;
    margin-right: 5px;
    font-weight: bold;
    line-height: 20px;
    font-size: 13px;
}

.type-function {
    background: $color-type-function-bg;
    color: $color-type-function;
}

.type-class {
    background: $color-type-class-bg;
    color: $color-type-class;
}

.type-member {
    background: $color-type-member-bg;
    color: $color-type-member;
}

.type-module {
    background: $color-type-module-bg;
    color: $color-type-module;
}

/*--------- mobile nav----------*/


/* navicon button */
.navicon-button {
    display: none;
    position: relative;
    padding: 2.0625rem 1.5rem;
    transition: 0.25s;
    cursor: pointer;
    user-select: none;
    opacity: .8;

    &:hover {
        transition: 0.5s;
        opacity: 1;

        .navicon {

            &::before,
            &::after {
                transition: 0.25s;
            }

            &::before {
                top: .825rem;
            }

            &::after {
                top: -.825rem;
            }
        }
    }

    .navicon {

        &::before,
        &::after {
            transition: 0.25s;
        }
    }

    @include media-phone-width {
        display: inline-block;
        position: fixed;
        top: 1.5em;
        right: 0;
        z-index: 2;
    }
}


.navicon {
    position: relative;
    width: 2.5em;
    height: .3125rem;
    background: #000;
    transition: 0.3s;
    border-radius: 2.5rem;

    &::before,
    &::after {
        display: block;
        content: "";
        height: .3125rem;
        width: 2.5rem;
        background: #000;
        position: absolute;
        z-index: -1;
        transition: 0.3s 0.25s;
        border-radius: 1rem;
    }

    &::before {
        top: .625rem;
    }

    &::after {
        top: -.625rem;
    }
}


/* open */

.nav-trigger:checked+label:not(.steps) .navicon::before,
.nav-trigger:checked+label:not(.steps) .navicon::after {
    top: 0 !important;
}

.nav-trigger:checked+label .navicon::before,
.nav-trigger:checked+label .navicon::after {
    transition: 0.5s;
}

/* Minus */
.nav-trigger:checked+label {
    transform: scale(0.75);
}

/* ÃƒÆ’Ã¢â‚¬â€ and + */
.nav-trigger:checked+label.plus .navicon,
.nav-trigger:checked+label.x .navicon {
    background: transparent;
}

.nav-trigger:checked+label.plus .navicon::before,
.nav-trigger:checked+label.x .navicon::before {
    transform: rotate(-45deg);
    background: #fff;
}

.nav-trigger:checked+label.plus .navicon::after,
.nav-trigger:checked+label.x .navicon::after {
    transform: rotate(45deg);
    background: #fff;
}

.nav-trigger:checked+label.plus {
    transform: scale(0.75) rotate(45deg);
}

.nav-trigger:checked~nav {
    left: 0 !important;
}

.nav-trigger:checked~.overlay {
    display: block;
}

.nav-trigger {
    position: fixed;
    top: 0;
    clip: rect(0, 0, 0, 0);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    z-index: 1;
}