/** Readme  **/

.readme {
    font-size: 16px;
  }

  .readme h1,
  .readme h2,
  .readme h3,
  .readme h4,
  .readme h5 {
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    padding: 0;
  }

  .readme h1 {
    font-size: 2em;
    padding-bottom: 0.3em;
  }

  .readme h2 {
    font-size: 1.75em;
    padding-bottom: 0.3em;
  }

  .readme h3 {
    font-size: 1.5em;
    background-color: transparent;
  }

  .readme h4 {
    font-size: 1.25em;
  }

  .readme h5 {
    font-size: 1em;
  }

  .readme img {
    max-width: 100%;
  }

  .readme ul, .readme ol {
    padding-left: 2em;
  }

  .readme pre > code {
    font-size: 0.85em;
  }

  .readme table {
    margin-bottom: 1em;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .readme table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
  }

  .readme table th,
  .readme table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }

  .readme table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }
