/*---font---*/
$font-size: 16px;
$line-height: 160%;

/*---colors---*/
$color-important: #950b02;

$color-hyperlink: #0095dd;
$color-nav-heading-hyperlink: #888;

$color-type-signature: #aaa;

$color-type-function: #0288D1;
$color-type-function-bg:#b3e5fc;
$color-type-class: #4527a0;
$color-type-class-bg: #d1c4e9;
$color-type-member: #388e3c;
$color-type-member-bg: #c8e6c9;
$color-type-module: #7b1fa2;
$color-type-module-bg: #e1bee7;

/*---nav---*/
$nav-width: 250px;
